.page {
  background: #000;
  max-width: 920px;
  min-width: 320px;
  margin: 0 auto;
  padding: 45px 20px 60px;
  box-sizing: border-box;
}

@media screen and (max-width: 580px) {
  .page {
    padding: 28px 0 36px;
    width: 100%;
  }
}
