.element__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  object-position: center;
  background: lightgray 50% / cover no-repeat;
  border-radius: 10px 10px 0px 0px;
  grid-area: image;
}
.element__image:hover {
  cursor: pointer;
}