.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  align-items: center;
  gap: 20px 17px;
  margin: 0;
  list-style: none;
  width: 100%;
  padding: 0;
}
